/* index */
/* body{min-width:1300px;} */
/* .container-fluid{min-width:1300px;} */
.row {margin: 15px 0;}
.access-id {display:inline-block}
.card-header {height:50px; line-height: 35px; text-align: center;}
.card-header>button {float: right;}
.card-header>.btn-reset {display: inline-block;padding-left:5px;cursor: pointer;}
.card-body {height: 90vh; overflow-y: auto;}
.roomListWrapper>li>button {float: right;}
.myRank {text-align: center;}

/* room */
/* .game-body-wrap {} */
.game-body-wrap > .time-body{height:150px;margin-bottom:50px;text-align:center;}
.game-body-wrap > .time-body > h2{width:200px;margin:0 auto;border:1px solid black;}
.game-body-wrap > .time-body > #game-time{display:inline-block;width:350px;height:100px;margin:-1px auto 0;line-height:100px;border:1px solid black;}
.game-body-wrap > .game-body > div{float:left;min-height:700px;}
.game-body-wrap > .game-body > .col-lg-6 > .play-box{width:600px;height:600px;margin:0 auto;border:2px solid black;font-size:15px;text-align:center;}
.game-body-wrap > .game-body > .col-lg-3 > .game-character{width:300px;height:400px;margin:0 auto;text-align:center;}
.game-body-wrap > .game-body > .col-lg-3 > .game-name{display:block;position:relative;width:300px;height:50px;margin:10px auto;text-align:center;line-height:50px;}
.game-body-wrap > .game-body > .col-lg-3 > .game-name > .badge{position:absolute;left:-5px;top:-5px;}
.game-body-wrap > .game-body > .col-lg-3 > .game-btn{display:block;width:300px;margin:10px auto;}
#btn-give-up {display:none;}